.Modules {
	padding: 1em;
	align-items: right;

	@include bp(md) {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-left: -$space;
	}

	.Module {
		background-color: $color-neutral-dark;
		background-image: lineargradient(to bottom, $color-neutral-dark, darken($color-neutral-dark, 15%));
		color: $color-white;
		border-radius: .5em;
		text-align: center;
		position: relative;
		margin-bottom: $space;

		@include bp(md) {
			flex: 1;
			margin-left: $space;
			max-width: 30em;
		}

		h2 {
			font-size: 1em;
			padding: $space-sm;
			margin-bottom: 0;
			background-color: rgba($color-white, .03);

			@include bp(md) {
				margin-bottom: $space-sm;
			}
		}
	}

	.Module-value {
		padding: $space-sm;
		display: flex;
		align-items: center;

		@include bp(md) {
			display: block;
		}

		h3 {
			flex: 1;
			font-size: 4em;
			margin-right: $space-sm;
			font-weight: bold;
			letter-spacing: -0.05em;
			font-weight: lighter;
			line-height: 1;

			@include bp(md) {
				position: absolute;
				width: 100%;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				font-size: 5em;
				margin: 0;
			}
		}

		sup {
			display: none;
		}
	}

	.Module-chart {
		flex: 1;

		.base {
			stroke: lighten($color-neutral-dark, 5);
			fill: none;
		}

		.value {
			stroke: $color-primary;
			transform: rotate(-90deg);
			transform-origin: 50%;
			fill: none;
			transition: stroke-dashoffset 1s;
		}
	}
}
