.Panels {
	display: grid;
	grid-gap: $space-sm;

	@include bp(md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include bp(lg) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $space;
	}
}

.Panel {
	border-radius: .3em;
	background-color: $color-neutral-dark;
	overflow: hidden;
	text-align: center;

	.Panel-header {
		padding: $space-xs;
		font-weight: bold;
		background-color: rgba(#fff, .05);
		font-weight: 400;
		color: rgba($color-white, .8);
		text-transform: uppercase;
	}

	.Panel-body {
		padding: $space-sm;

		@include bp(md) {
			padding: $space;
		}
	}

	&--recentChanges {
		.Panel-body {
			padding: 0;
		}

		@include bp(md) {
			grid-column: 1/3;
		}

		@include bp(lg) {
			grid-column: 1/4;
		}
	}
}
