<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atmos</title>
  <link rel="stylesheet" href="/static/app.css" />
  <link rel="icon" href="/static/favicon.png" />
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="page">
    <div class="data">
      <div class="stat air">
        <span class="value">{{ data.air }}</span>
        <span class="label">Air</span>
      </div>
      <div class="stat water">
        <span class="value">{{ data.water }}</span>
        <span class="label">Water</span>
      </div>
      <div class="stat humidity">
        <span class="value">{{ data.humidity }}</span>
        <span class="label">Humidity</span>
      </div>
      <div class="controls">
        <div class="items">
          <label for="control-light">Light</label>
          {% if state == 1 %}
          <a class="off" href="/on">turn on</a>
          {% else %}
          <a class="on" href="/off">turn off</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="video">
			<a href=http://atmos-2.local/stream>
				<img src=http://atmos-2.local/stream border=0 width=25%>
			</a>
    </div>
  </div>
</body>

</html>
