<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atmos</title>
  <link rel="stylesheet" href="/static/app.css" />
  <link rel="icon" href="/static/favicon.png" />
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="page">
    <div class="data">
      <div class="stat air">
        <span class="value">{{ data.air or '0.00' }}</span>
        <span class="label">Air Temp</span>
      </div>
      <div class="stat water">
        <span class="value">{{ data.water or '0.00' }}</span>
        <span class="label">Water Temp</span>
      </div>
      <div class="stat humidity">
        <span class="value">{{ data.humidity or '0.00' }}</span>
        <span class="label">Humidity</span>
      </div>
      <div class="stat co2">
        <span class="value">{{ data.co2 or '0.00' }}</span>
        <span class="label">CO2</span>
      </div>
      <div class="stat ph">
        <span class="value">{{ data.ph or '0.00' }}</span>
        <span class="label">PH</span>
      </div>
      <div class="stat level" data-level="{{ data.water_level }}">
				<span class="value">
					{% if data.water_level == "0" %}
						LOW
					{% else %}
						OK
					{% endif %}
				</span>
				<span class="label">Water level</span>
      </div>
    </div>
    <div class="video">
			<img id="image" src="/static/capture.jpg" />
    </div>
  </div>
  <script src="/static/app.js"></script>
</body>

</html>

















